<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Frontend Masters — Learn JavaScript, React, Vue & Angular from Masters of
      Front-End Development!
    </title>
    <link
      rel="icon"
      href="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/ydwfrxhhc7lgjuxkbif2"
    />
    <link rel="stylesheet" href="./AccountCss/style.css" />
<<<<<<< HEAD
    <!-- <link rel="stylesheet" href="./AccountCss/styles.css"> -->
=======
>>>>>>> dafae2e86b3dac7d2f595904bce00f134e8607fd
    <link rel="stylesheet" href="./AccountCss/Navbar.css" />
    <link rel="stylesheet" href="./AccountCss/footer.css" />
    <link rel="stylesheet" href="./AccountCss/chat.css" />
    <!-- <link rel="stylesheet" href="mscbot/static/css/home.css"> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <style>
      #sidebar > div:nth-child(1) {
        background-color: #111111;
      }
    </style>
  </head>
  <body>
    <!-- navbar -->
    <header>
<<<<<<< HEAD
      <div id="navbar"></div>
    </header>

    <!-- body -->

    <div id="head" style="margin-top: 1px">
      <h1 style="margin-left: 55px">My Account</h1>

=======
     
        <div class="navbar">

          <h3><a href="http://localhost:3000"><img class="logo" src="https://static.frontendmasters.com/assets/fm/js/static/frontendmasters.e1e10b58c1.svg" alt=""></a></h3>
        <div id="options">
        <h3><a style="text-decoration: none;" href="http://localhost:3000/course"><p class="nvtxt">Courses</p> </a></h3>
        <h3><a style="text-decoration: none;"href="http://localhost:3000/learn"><p class="nvtxt">Learn</p></a></h3>
        <h3><a style="text-decoration: none;"href="http://localhost:3000/pricing"><p class="nvtxt">Pricing</p></a></h3>
        <h3><a style="text-decoration: none;"href="http://localhost:3000/login"><p class="nvtxt" id="logouttxt"></p></a></h3> 
        </div>
        </div>
        
        <svg class="diagonal" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none"><defs><linearGradient id="linear" x1="0%" y1="0%" x2="100%" y2="0%"><stop offset="0%" stop-color="#c02d28"></stop><stop offset="100%" stop-color="#e66225"></stop></linearGradient></defs><polygon points="0,2 0,0 100,0 100,10" fill="url(#linear)"></polygon></svg> `
        
    
    </header>

    <!-- body -->
    
    <div id="head" style="margin-top: 1px">
  
      <h1 id="AccountHead">My Account</h1>
>>>>>>> dafae2e86b3dac7d2f595904bce00f134e8607fd
      <div id="main">
        <div id="sidebar"></div>

        <div id="Right">
<<<<<<< HEAD
          <form onsubmit="Signup(event)" class="form1" id="signup-form">
            <h1 id="u1">Update User</h1>

            <p>
              This email has not been confirmed.
              <a href=""> Click to resend confirmation email</a>
            </p>

            <div class="mail">
              <p>Email</p>
              <input type="text" class="a" id="email" />
            </div>

            <div class="middle">
              <div>
                <p>First Name</p>
                <input type="text" id="Fname" />
              </div>
              <div>
                <p>Last Name</p>
                <input type="text" id="Lname" />
              </div>
            </div>

            <div><input class="btn" type="submit" value="Update" /></div>
          </form>

          <form action="" class="form2">
            <h1>Change Password</h1>

            <div class="mail">
              <p>New Password</p>
              <input type="text" class="a" />
            </div>

            <div class="mail">
              <p>Confirm Password</p>
              <input type="text" class="a" />
            </div>

            <div><input class="btn" type="submit" value="Update" /></div>
          </form>
=======
          <div class="formDiv">
            <form onsubmit="update(event)" class="form1" id="signup-form">
              <h1 id="u1">Update User</h1>

              <p>
                This email has not been confirmed.
                <a href=""> Click to resend confirmation email</a>
              </p>

              <div class="mail">
                <p>Email</p>
                <input type="text" class="a" id="email" />
              </div>

              <div class="middle">
                <div>
                  <p>First Name</p>
                  <input type="text" id="first_name" />
                </div>
                <div>
                  <p>Last Name</p>
                  <input type="text" id="last_name" />
                </div>
              </div>

              <div><input class="btn" type="submit" value="Update" /></div>
            </form>
          </div>
          
          <div class="formDiv">
            <form action="" class="form2" onsubmit="updatePassword(event)">
              <h1>Change Password</h1>

              <div class="mail">
                <p>New Password</p>
                <input type="text" class="a" id="new_password"/>
              </div>

              <div class="mail">
                <p>Confirm Password</p>
                <input type="text" class="a" id="confirmpassword" />
              </div>

              <div><input class="btn" type="submit" value="Update" /></div>
            </form>
          </div>
>>>>>>> dafae2e86b3dac7d2f595904bce00f134e8607fd
        </div>
      </div>
    </div>

    <!-- footer html -->

    <footer>
      <div id="foot"></div>
    </footer>

    <!-- Chat-boat-coad -->

    <div class="chat-bar-collapsible">
      <button id="chat-button" type="button" class="collapsible">
        <i
          id="chat-icon"
          style="color: #fff"
          class="fa fa-fw fa-comments-o"
        ></i>
      </button>

      <div class="content">
        <!-- bot-header -->
        <div class="bot-header">
          <img
            src="https://static.frontendmasters.com/assets/fm/js/static/frontendmasters.e1e10b58c1.svg"
          />
        </div>
<<<<<<< HEAD

        <div class="full-chat-block">
          <!-- Message Container -->
          <div class="outer-container">
            <div class="chat-container">
              <!-- Messages -->
              <div id="chatbox">
                <h5 id="chat-timestamp"></h5>
                <p id="botStarterMessage" class="botText">
                  <span>Loading...</span>
                </p>
              </div>

              <!-- User input box -->
              <div class="chat-bar-input-block">
                <div id="userInput">
                  <input
                    id="textInput"
                    class="input-box"
                    type="text"
                    name="msg"
                    placeholder="Write a reply.."
                  />
                  <p></p>
                </div>

                <div class="chat-bar-icons">
                  <i
                    id="chat-icon"
                    style="color: #333"
                    class="fa fa-fw fa-send"
                    onclick="sendButton()"
                  ></i>
=======

        <div class="full-chat-block">
          <!-- Message Container -->
          <div class="outer-container">
            <div class="chat-container">
              <!-- Messages -->
              <div id="chatbox">
                <h5 id="chat-timestamp"></h5>
                <p id="botStarterMessage" class="botText">
                  <span>Loading...</span>
                </p>
              </div>

              <!-- User input box -->
              <div class="chat-bar-input-block">
                <div id="userInput">
                  <input
                    id="textInput"
                    class="input-box"
                    type="text"
                    name="msg"
                    placeholder="Write a reply.."
                  />
                  <p></p>
>>>>>>> dafae2e86b3dac7d2f595904bce00f134e8607fd
                </div>
              </div>

<<<<<<< HEAD
=======
                <div class="chat-bar-icons">
                  <i
                    id="chat-icon"
                    style="color: #333"
                    class="fa fa-fw fa-send"
                    onclick="sendButton()"
                  ></i>
                </div>
              </div>

>>>>>>> dafae2e86b3dac7d2f595904bce00f134e8607fd
              <div id="chat-bar-bottom">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<<<<<<< HEAD
<script src="JavaScript/import.js" type="module"></script>

<script src="JavaScript/sidebar_import.js" type="module"></script>

<script>
  function ss() {
    console.log("fgdfgdg");
    window.location = "index.html";
    console.log("fgdfgdg");
  }

  var frontend = JSON.parse(localStorage.getItem("user1"));

  document.getElementById("u1").innerHTML = "Logout" + "(" + frontend + ")";
</script>
=======
<script type="module" src="Javascript/import_footer.js"></script>

<script src="JavaScript/sidebar_import.js" type="module"></script>

<script src="JavaScript/account.js" ></script>
>>>>>>> dafae2e86b3dac7d2f595904bce00f134e8607fd

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="../mscbot/static/scripts/chat.js"></script>
<<<<<<< HEAD
=======

>>>>>>> dafae2e86b3dac7d2f595904bce00f134e8607fd
