<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="./JavaScript/corecourse.js" />
    <link rel="stylesheet" href="./AccountCss/corecourse.css" />
    <link href="./AccountCss/footer.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Asap&family=Festive&family=Open+Sans:wght@400;500&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
<header>
  <div id="navbar"></div>
</header>

    <div id="head_banner_s">
      <div class="content_head">
        <div id="circle">
          <div class="out_circle" id="out_circle">
            <div class="in_circle" id="in_circle">
              <h2 id="counter">0%</h2>
            </div>
          </div>

          <div id="svg_el"></div>
        </div>

        <div class="head_text">
          <h1 id="about_c">
            Your Path to Becoming a Career-Ready Web Developer!
          </h1>

          <p id="small_about_c">
            You'll start with introduction to web development and deep dive into
            JavaScript, modern layout techniques in order to have the skills to
            be a professional web developer today.
          </p>
        </div>
      </div>
    </div>

    <div id="lp_course">
      <div class="head_learn center_div">
        <img src="./img_sw/courselogo.PNG" />

        <h1>Core Coursework</h1>

        <p>(Take these in orders)</p>
      </div>

      <hr style="width: 1100px; color: rgb(235, 231, 231)" />

      <div id="c_l">
        <div id="plus_div">
          <div>+</div>
          <div></div>
          <div>+</div>
          <div></div>
          <div>+</div>
          <div></div>
          <div>+</div>
          <div></div>
          <div>+</div>
          <div></div>
        </div>
        <div id="lp_parent"></div>
      </div>
    </div>
    <footer>
      <div id="foot"></div>
    </footer>
  </body>
</html>

<script src="JavaScript/import.js" type="module"></script>
<script src="Javascript/corecourse.js"></script>
