<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./AccountCss/styles.css" >
   <link rel="stylesheet" href="./AccountCss/navbar.css">
   <link rel="stylesheet" href="./AccountCss/footer.css">

   
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap" rel="stylesheet"> 

<title>FRONTENDMASTERS</title>
</head>
<body>

  <header>
    <div id="navbar"></div>
  </header>


<!-- <svg class="diagonal" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none"><defs><linearGradient id="linear" x1="0%" y1="0%" x2="100%" y2="0%"><stop offset="0%" stop-color="#c02d28"></stop><stop offset="100%" stop-color="#e66225"></stop></linearGradient></defs><polygon points="0,2 0,0 100,0 100,10" fill="url(#linear)"></polygon></svg></div> -->

  <div> 
    <p style="color: white;text-align: center;font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;font-size: 60px;">Advance Your Skills</p>
    <p style="color: white;text-align: center;font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;font-size: 40px;">with In-Depth, Modern</p>
    <p style="color: white;text-align: center;font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;font-size: 40px;">Front-End Engineering Courses
</p>
</div > 
    <div style="display: flex;justify-content: center;padding-top: 20px;">
      <a href="http://localhost:3000/course"><p style="margin-right: 20px;margin-top: 10px; height: 40px;font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;font-size: 20px;"class="btn3" >Browse Our Courses</p></a>
    
    <a href="http://localhost:3000/learn"><p style="margin-right: 20px;margin-top: 10px; height: 40px;font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;font-size: 20px;"class="btn2" >View Learning Path</p></a>

</div>
<video class="background" playsinline="" autoplay="" muted="" loop=""><source src="https://static.frontendmasters.com/assets/fm/med/home/hero.mp4" type="video/mp4"></video>
<div style="margin-top:-4.2%" ><svg style="height: 60px" class="diagona" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10" preserveaspectratio="none"><polygon points="0,8 0,10 100,10 100,3"></polygon></svg>
</div>
<div class="icons1">
    <a href=""> <img src="./img/js.svg" alt="" class="icons"></a>
    <a href=""> <img src="./img/react.svg" alt="" class="icons"></a>
    <a href=""><img src="./img/typescript.svg" alt="" class="icons"></a>
    <a href="">    <img src="./img/node.svg" alt="" class="icons"></a>
    <a href="">  <img src="./img/vue.svg" alt="" class="icons"></a>
    <a href="">   <img src="./img/angular.svg" alt="" class="icons"></a>
    <a href="">  <img src="./img/css.svg" alt="" class="icons"></a>
    <a href="">   <img src="./img/d3.svg" alt="" class="icons"></a>
    <a href=""><img src="./img/webpack.svg" alt="" class="icons"></a>
</div>

<section>
<div class="tweetbox" style="display: flex; justify-content: space-between">
    
   <h1></h1>
   <div  style="width: 200px; height: 200px;">
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">JavaScript the hard parts ,V2 <a href="https://twitter.com/FrontendMasters?ref_src=twsrc%5Etfw">@FrontendMasters</a> <a href="https://twitter.com/hashtag/100DaysOfCode?src=hash&amp;ref_src=twsrc%5Etfw">#100DaysOfCode</a> <a href="https://t.co/jvMVgU4oYN">pic.twitter.com/jvMVgU4oYN</a></p>&mdash; Mohammed Thahseen (@Thahsi2) <a href="https://twitter.com/Thahsi2/status/1459324384720474115?ref_src=twsrc%5Etfw">November 13, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>
<div  style="width: 200px; height: 100px;  ">
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">I just completed &quot;Intermediate TypeScript&quot; by <a href="https://twitter.com/michaellnorth?ref_src=twsrc%5Etfw">@michaellnorth</a> on <a href="https://twitter.com/FrontendMasters?ref_src=twsrc%5Etfw">@FrontendMasters</a>! <a href="https://t.co/WVLqz5uZtD">https://t.co/WVLqz5uZtD</a> <br><br>It is exactly the course I needed to upgrade my TypeScript skills. I have been using TypeScript for 4 years and I don&#39;t know 90% of the course materials.</p>&mdash; Connie Leung 🇭🇰🇨🇦🇨🇴🇧🇷🇯🇵 (@connieleung404) <a href="https://twitter.com/connieleung404/status/1458958919397625857?ref_src=twsrc%5Etfw">November 12, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>


    <div  style="width: 200px; height: 200px;">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">JavaScript the hard parts ,V2 <a href="https://twitter.com/FrontendMasters?ref_src=twsrc%5Etfw">@FrontendMasters</a> <a href="https://twitter.com/hashtag/100DaysOfCode?src=hash&amp;ref_src=twsrc%5Etfw">#100DaysOfCode</a> <a href="https://t.co/jvMVgU4oYN">pic.twitter.com/jvMVgU4oYN</a></p>&mdash; Mohammed Thahseen (@Thahsi2) <a href="https://twitter.com/Thahsi2/status/1459324384720474115?ref_src=twsrc%5Etfw">November 13, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    </div>
    <div  style="width: 200px; height: 200px; margin-right: 10%;">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">JavaScript the hard parts ,V2 <a href="https://twitter.com/FrontendMasters?ref_src=twsrc%5Etfw">@FrontendMasters</a> <a href="https://twitter.com/hashtag/100DaysOfCode?src=hash&amp;ref_src=twsrc%5Etfw">#100DaysOfCode</a> <a href="https://t.co/jvMVgU4oYN">pic.twitter.com/jvMVgU4oYN</a></p>&mdash; Mohammed Thahseen (@Thahsi2) <a href="https://twitter.com/Thahsi2/status/1459324384720474115?ref_src=twsrc%5Etfw">November 13, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    </div>
</section>

<div class="img2" >
    <img style="height: 600px;width: 100%;  ;" class="dark"   alt="">
</div>
<p style="color: white; margin-right: 20px;margin-top: 10px; height: 40px;font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;font-size: 20px; text-align: center;font-size: 40px;" >Join Now and Learn Straight <br> from the Experts Who Shape
  <p style="color: white; margin-right: 20px;margin-top: 80px; height: 40px;font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;font-size: 20px;text-align: center; font-size: 40px;">the Modern Web</p>
  


</p>
<div class="txt3" ><p style="font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;font-size: 30px;margin-top: -10px;">Join Now</p></div>
    <div style="margin-top: 220px;" class="dark">
        <img style="width: 100.1%;z-index: -2;" src="./img/boot.png" alt="">
      </div>
  <a href=""><p style="color: red; margin-top: -35px;margin-left: 600px;" ><u style="color: orangered;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 18px;"> More Info ></u></p></a>
  
  <footer>
    <div id="foot"></div>
  </footer>
  
</body>
</html>
<script type="module" src="Javascript/import.js"></script>