<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Front End Master</title>

    <!-- <link href='./footer_sw.css' rel="stylesheet"> -->
    <link rel="stylesheet" href="./AccountCss/learn.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Asap&family=Festive&family=Open+Sans:wght@400;500&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div id="navbar"></div>
    </header>
    
    <div id="learn_path_div" class="center_div">
      <div class="head_learn center_div">
        <img src="./img_sw/learnlogo.PNG" />

        <h1>Learning Paths</h1>

        <h4>
          Guided paths to expand your abilites as a well-rounded engineer!
        </h4>
      </div>

      <hr
        style="width: 900px; color: rgb(235, 231, 231); margin-bottom: 20px"
      />

      <div id="lp_parent"></div>
    </div>
    <footer>
      <div id="foot"></div>
    </footer>
  </body>
</html>

<script src="JavaScript/learn.js" ></script>

<script src="JavaScript/import.js" type="module"></script>
