<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="./AccountCss/footer.css" rel="stylesheet" />
    <link href="./AccountCss/navbar.css" rel="stylesheet" />
    <link href="./AccountCss/styles.css" rel="stylesheet" />
    <link href="./AccountCss/lecture.css" rel="stylesheet" />




    <link
      href="https://fonts.googleapis.com/css2?family=Asap&family=Festive&family=Open+Sans:wght@400;500&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    
  </head>
  <body>
    <header>
      <div id="navbar"></div>
    </header>
    <div class="div1">
      <div>
        <img
          src="https://static.frontendmasters.com/assets/courses/2019-06-20-getting-started-javascript-v2/thumb.webp"
        />
      </div>

      <div>
        <h1>Getting Started with JavaScript, v2</h1>

        <div class="about_inst">
          <img
            src="https://static.frontendmasters.com/assets/teachers/simpson/thumb@2x.webp"
          />
          <span> Kyle Simpson</span>
        </div>
      </div>
    </div>

    <div class="div2">
      <div>
        <div class="vid_div">
          <img src="https://media.giphy.com/media/jCL5JbYPYQz96/giphy.gif" />
        </div>
        <div class="t_div">
          <p>
            Want to learn to code using JavaScript? This is a great place to
            start! In this course, you’ll start out with a tour of the basic
            building blocks programming like variables, loops, functions and
            operations. Then, you’ll go through the three main pillars of
            JavaScript: Types and Coercion for comparing values and converting
            between types, Scope and Closure for knowing where variables can be
            accessed, and JavaScript’s “this” and Prototype system for dynamic
            context.This course and others like it are available as part of our
            Frontend Masters video subscription.
          </p>
          <button>Get FreecAccess Now</button>
        </div>
      </div>
    </div>

    <div class="lect">
      <h1>Table of Contents</h1>

      <h5>Introduction</h5>
      <div id="lect_parent"></div>
    </div>

    <!-- footer starts -->
    <footer>
      <div id="foot"></div>
    </footer>

  
  </body>
</html>

<script src="Javascript/lecture.js"></script>
<script src="Javascript/import.js" type="module"></script>