<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In to Frontend Masters</title>
    <link
      rel="icon"
      href="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/ydwfrxhhc7lgjuxkbif2"
    />
    <link rel="stylesheet" href="./AccountCss/login.css" />
    <link rel="stylesheet" href="./AccountCss/Navbar.css" />
    <link rel="stylesheet" href="./AccountCss/footer.css" />
<<<<<<< HEAD

=======
>>>>>>> dafae2e86b3dac7d2f595904bce00f134e8607fd
  </head>
  <body>
    <header>
      <div id="navbar"></div>
    </header>

    <div class="loginDiv">
<<<<<<< HEAD

      <form class="form" id="login-form"
      action="/login"
      method="POST"
      >
      <label for="email" class="smallHead">Username or Email</label>
      <input id="email" type="text" name="email" placeholder="Username or Email" required />
      <label for="password" class="smallHead">Password</label>
      <input id="password" type="password" name="password" placeholder="Password"  required/>

      <label for="remember"
        ><input id="remember" type="checkbox" required/> Remember Me
      </label>

       <input type="submit" value="Log In" id="signin" />

      <a id="forget">forget your passwords?</a>
    
=======
      <form class="form" id="login-form" onsubmit="signIn(event)">
        <label for="email" class="smallHead">Username or Email</label>
        <input
          id="email"
          type="text"
          name="email"
          placeholder="Username or Email"
          required
        />
        <label for="password" class="smallHead">Password</label>
        <input
          id="password"
          type="password"
          name="password"
          placeholder="Password"
          required
        />

        <label for="remember"
          ><input id="remember" type="checkbox"/> Remember Me
        </label>

        <input type="submit" value="Log In" id="signin" />

        <a id="forget">forget your passwords?</a>
      </form>
>>>>>>> dafae2e86b3dac7d2f595904bce00f134e8607fd
    </div>

    <footer>
      <div id="foot"></div>
    </footer>

  </body>
</html>

<script src="JavaScript/import.js" type="module"></script>

<script src="Javascript/login.js"></script>
