<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In to Frontend Masters</title>
    <link
      rel="icon"
      href="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/ydwfrxhhc7lgjuxkbif2"
    />
    <link rel="stylesheet" href="./AccountCss/login.css" />
   
  </head>
  <body>
    <header>
      <div id="navbar"></div>
    </header>
    

    <div class="loginDiv">
      <div class="form" id="login-form">
        <p class="smallHead">Username or Email</p>
        <input id="emaill" type="text" placeholder="Username or Email"  />
        <p class="smallHead">Password</p>
        <input id="passl" type="text" placeholder="Password"  />

        <label for="remember"
          ><input id="remember" type="checkbox" /> Remember Me
        </label>

        <button id="signin" >sign in</button>

        <a id="forget">forget your passwords?</a>
      </div>
    </div>

    <footer>
      <div id="foot"></div>
    </footer>


    
  </body>
</html>




<script src="JavaScript/signin.js"></script>

<script src="JavaScript/import.js" type="module"></script>

