<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Frontend Masters — Learn JavaScript, React, Vue & Angular from Masters of
      Front-End Development!
    </title>
    <link
      rel="icon"
      href="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/ydwfrxhhc7lgjuxkbif2"
    />
    <link rel="stylesheet" href="./AccountCss/teacher.css" />
    <link rel="stylesheet" href="./AccountCss/footer.css" />
    <link rel="stylesheet" href="./AccountCss/Navbar.css" />
  </head>
  <body>
    <header>
      <div id="navbar"></div>
    </header>
    <div id="head">
      <h1>Frontend Masters Teachers</h1>
    </div>
    <div id="container"></div>
    <footer>
      <div id="foot"></div>
    </footer>
  </body>
</html>
<script src="Javascript/import.js" type="module"></script>
<script src="Javascript/instructor.js"></script>
