.footer {
  /* margin-top: 50px; */
  width: 100%;
  height: 330px;
  background-color: rgba(5, 5, 5, 0.945);
}
.logo2 {
  width: 250px;
  margin-top: 60px;
}
.lst {
  margin-left: 80px;
  display: flex;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 77px;
  margin-left: 20px;
}
li {
  color: rgb(197, 190, 190);
  text-decoration: none;
  margin-left: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}
a {
  text-decoration: none;
}
li:hover {
  color: white;
}

.dark {
  background: rgba(0, 0, 0, 0.5)
    url("https://static.frontendmasters.com/assets/fm/js/static/bg2.c89a0cad3a.jpg");
  background-size: cover;
  background-blend-mode: darken;
}
h1 {
  padding-top: 100px;
}
#appDiv {
  width: 18%;
  height: 60px;
  margin: 1% 4.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#apple {
  height: 45px;
}
#google {
  height: 60px;
}

.lstlogo {
  display: flex;
  gap: 15px;
  padding-left: 77px;
  padding-top: 20px;
}

.lg {
  width: 35px;
}
#bottomDiv {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #8a8a8a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 8% 0% 5%;
}
#bottomDiv p a {
  color: #8a8a8a;
}
#bottomDiv p a:hover {
  text-decoration: underline;
} 